main {
    min-height: 600px;
    position: relative;
    background-color: black;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

main p {
    margin: 15px 0 20px;
}

main .container {
    height: 100%;
    position: relative;
    padding: 100px 0;
}

main>img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    --mask-image: linear-gradient(to right, #0005 30%, #000);
    mask-image: var(--mask-image);
    -webkit-mask-image: var(--mask-image);
}

@media (max-width:560px) {
    main>img {
        --mask-image: linear-gradient(to bottom, #000, #0005 25%, #0005 75%, #000);
    }

    main .container {
        text-align: center;
    }

    main .btn-row {
        justify-content: center;
    }
}