:is(main, section) .btn-row {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    margin-top: 20px;
}

:is(main, section) .btn {
    text-transform: uppercase;
}

section h1 {
    margin-bottom: 15px;
    border-left: 5px solid #fff7;
    padding-left: 10px;
    text-transform: uppercase;
}

section.high {
    background-color: #fff2;
}