#contact_sec h1 {
    margin: 0;
}

#contact_sec>.map {
    width: calc(100% + 2 * var(--h-pad));
    height: 250px;
    display: block;
    object-fit: cover;
    margin: 25px calc(-1 * var(--h-pad)) 40px;
}

#contact_sec .dual {
    align-items: flex-end;
}

#contact_sec .left {
    align-items: flex-start;
    line-height: 1.5;
}

#contact_sec .left h3 {
    margin-bottom: 1.2em;
}

#contact_sec .left>a:not(:last-child) {
    margin-bottom: .8em;
}

#contact_sec .left>a>i-con {
    display: inline-block;
    vertical-align: text-top;
}

#contact_sec .right {
    margin-top: -140px;
}

#contact_sec form {
    padding: 25px;
    gap: 20px;
    background-color: var(--bg-alt);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    box-shadow: 0 2px 8px #0004;
}

#contact_sec form .row {
    gap: 15px;
}

#contact_sec form .row .field {
    flex-grow: 1;
    flex-basis: 150px;
}

#contact_sec form .btn-row {
    margin-top: 0;
}

#contact_sec form .msg-box {
    color: green;
    display: none;
    margin: -10px 0;
}

#contact_sec form .msg-box.error {
    color: red;
}

@media (max-width:560px) {
    #contact_sec .right {
        margin-top: 0;
    }
}