.menu {
    position: relative;
}

.menu>:nth-child(2) {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    background-color: var(--bg-alt);
    color: var(--fg);
    box-shadow: 0 3px 8px #0004;
    z-index: 1;
    white-space: nowrap;
}

.menu:not(.open)>:nth-child(2) {
    display: none;
}