button:focus,
a:focus,
label:focus-within {
	outline: var(--o-width, 1px) dashed;
	outline-offset: var(--o-off, 2px);
}

.input-box {
	border: 1px solid #ccc;
	--br: 4px;
	border-radius: var(--br);
	color: inherit;
	width: 100%;
	--pad-v: .6em;
	--pad-h: .8em;
	padding: var(--pad-v) var(--pad-h);
}

.input-box:is(:focus, :focus-within) {
	border-color: var(--bg);
}

input:not(:is([type=radio], [type=checkbox])),
textarea,
select {
	width: 100%;
}

input:is([type=checkbox], [type=radio]) {
	--size: 1.2em;
	width: var(--size);
	height: var(--size);
	accent-color: var(--color-primary);
}

input:is([type=file], [type=color]) {
	position: absolute;
	z-index: -999;
	appearance: none;
	opacity: 0;
}

.link {
	--c: var(--color-primary);
	color: var(--c);
}

.link:is(:hover, :focus, :focus-within) {
	text-decoration: underline;
	color: var(--c);
}

textarea {
	resize: none;
}

img {
	display: block;
	object-fit: contain;
}

svg {
	width: 0;
	height: 0;
}

p {
	line-height: 1.3;
}

.btn-row {
	display: flex;
	gap: .5em 1em;
	flex-wrap: wrap;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}